<extend name="Public/base" />
<block name="body">   	
    <div class="main-title cf">
        <h2>
            修改分类
        </h2>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">        
        <div class="tab-content">
            <form method='post' id="form1" class='form-horizontal' name="form1" action="{:U('Account/update')}"  enctype="multipart/form-data">
                <div class="form-item cf">
                    <label class="item-label">标题<span class="check-tips">（分类名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="title" value="{$vo.title}"><span class="must">*</span>              
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">排序<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="number" class="text input-large" value="{$vo.listorder}" name="listorder">                          
                    </div>
                </div>                
                <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="radio" name="status" value="0" <eq name="vo.status" value="0">checked="true"</eq>>&nbsp;隐藏&nbsp;&nbsp;
                        <input type="radio" name="status" value="1" <eq name="vo.status" value="1">checked="true"</eq>>&nbsp;显示     
                    </div>
                </div>               
                <div class="form_b">
                    <input type="submit" class="submit btn" id="submit" value="提 交">
                    <input type="hidden" name="id" value="{$vo.id}">
                </div>
            </form>
        </div>
    </div>
   </block>

