<extend name="Public/base" />
<block name="body">   	
    <div class="main-title cf">
        <h2>
            编辑影视
        </h2>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">        
        <div class="tab-content">
            <form method='post' id="form1" class='form-horizontal' name="form1" action="{:US('Admin/Content/update')}"  enctype="multipart/form-data">
                <div class="form-item cf">
                    <label class="item-label">影视名称<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="title" value="{$video.title}"><span class="must">*</span>
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">小图标<span class="check-tips"></span></label>
                    <div class="controls">
                        <notempty name="video.thumb">
                            <img src="{$video.thumb}" name="thumb" width="60" height="60" />
                            <a href="javascript:return false;" onclick="foreverdelthumb(this);" title="你确定要删除吗？">删除</a>
                            <input type="hidden" class="thumb" name="thumb" value="{$video.thumb}" />
                            <else/>
                            <input type="file" class="thumb" name="thumb" />
                        </notempty>                          
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">订阅量<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="follow_num"  value="{$video.follow_num}">
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">年份<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="year"  value="{$video.year}">
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">是否完结<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="radio" name="state" value="0" <neq name="video.state" value="1">checked="checked"</neq>>否 &nbsp; &nbsp;
                        <input type="radio" name="state" value="1" <eq name="video.state" value="1">checked="checked"</eq>>是
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">国籍<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="country">
                            <volist name="countries" id="vo">
                                <?php
                                if($vo['id']==$video['country']){
                                    $select = 'selected="selected"';
                                }else{
                                    $select = '';
                                }
                            ?>
                                <option value="{$vo.id}" {$select}>{$vo.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">分类<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="type">
                            <volist name="types" id="vo">
                                <?php
                                if($vo['id']==$video['type']){
                                    $select = 'selected="selected"';
                                }else{
                                    $select = '';
                                }
                            ?>
                                <option value="{$vo.id}">{$vo.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="status" >                            
                            <option <eq name="vo.status" value="1" >selected</eq> value="1">启用</option>
                            <option <eq name="vo.status" value="2" >selected</eq> value="2">禁用</option>          
                        </select>
                    </div>
                </div>
                <div class="form_b">
                    <input type="hidden" name="id" value="{$video.id}">
                    <input type="submit" class="submit btn" id="submit" value="提 交">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">     
       

        function foreverdelthumb(cur) {
            var nodename = $(cur).prev().attr('name');
            //插入新节点
            var html = '<dd>\r\n<input type="file" class="thumb" name="' + nodename + '" />\r\n</dd>';
            $(cur).parent().after(html);
            //移除当前节点
            $(cur).parent().remove();

        }
    </script>
</block>

