<extend name="Public/base" />
<block name="body">   	
    <div class="main-title cf">
        <h2>
            添加类型
        </h2>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">        
        <div class="tab-content">
            <form method='post' id="form1" class='form-horizontal' name="form1" action="{:US('Admin/VideoCategory/insert')}"  enctype="multipart/form-data">
                <div class="form-item cf">
                    <label class="item-label">分类名称<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="title" value="{$vo.title}"><span class="must">*</span> 
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">图标<span class="check-tips"></span></label>
                    <div class="controls">
                        <notempty name="vo.icon">
                            <img src="{$vo.icon}" name="icon" width="60" height="60" />
                            <a href="javascript:return false;" onclick="foreverdelthumb(this);" title="你确定要删除吗？">删除</a>
                            <input type="hidden" class="thumb" name="icon" value="{$vo.icon}" />
                            <else/>
                            <input type="file" class="thumb" name="icon" />
                        </notempty>                          
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">排序<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="sort"  value="{$vo.sort}">
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">国籍<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="countries">
                            <option value="0">请选择国籍</option>
                            <volist name="countries" id="vo">
                                <option value="{$vo.id}">{$vo.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">分类<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="types">
                            <option value="0">请选择分类</option>
                            <volist name="types" id="vo">
                                <option value="{$vo.id}">{$vo.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="status" >                            
                            <option <eq name="vo.status" value="1" >selected</eq> value="1">启用</option>
                            <option <eq name="vo.status" value="0" >selected</eq> value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="form_b">
                    <!--<input type="hidden" name="id" value="{$vo.id}">-->
                    <input type="submit" class="submit btn" id="submit" value="提 交">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">     
       

        function foreverdelthumb(cur) {
            var nodename = $(cur).prev().attr('name');
            //插入新节点
            var html = '<dd>\r\n<input type="file" class="thumb" name="' + nodename + '" />\r\n</dd>';
            $(cur).parent().after(html);
            //移除当前节点
            $(cur).parent().remove();

        }
    </script>
</block>

