<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>模卡列表</h2>
    </div>

    <div class="cf">
        <button class="btn ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <select name="status">
                    <option value="">请选择状态</option>
                    <option value="1" <eq name="status" value="1">selected</eq>>已删除</option>
                    <option value="2" <eq name="status" value="2">selected</eq>>未删除</option>
                </select>
            </div>
            <div class="sleft">
                <select name="s_id">
                    <option value="">请选择模卡风格</option>
                    <volist name="cat" id="vo">
                        <option value="{$vo.id}" <eq name="s_id" value="$vo['id']">selected</eq>>{$vo.name}</option>
                    </volist>
                </select>
            </div>
            <div class="sleft">
                <input type="hidden" name="status" id="status" value="{$status}">
                <input type="hidden" name="s_id" id="s_id" value="{$s_id}">
                <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户名">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('cardList')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>ID</th>
                <th style="width: 15%;">用户名</th>
                <th style="width: 10%">模卡风格</th>
                <th style="width: 30%">所选图片</th>
                <th style="width: 5%">点赞次数</th>
                <th style="width: 5%">状态</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"></td>
                        <td>{$vo.id}</td>
                        <td><a href="{:U('member',array('nickname'=>$vo['nickname']))}">{$vo.nickname}</a></td>
                        <td>{$vo.s_name}</td>
                        <td>
                            <foreach name="vo.pic_json" item="item" >
                                <img style="width:50px" src="{$item}" alt="">
                            </foreach>
                        </td>
                        <td>{$vo.great_num}</td>
                        <td>
                            <eq name="vo.status" value="1">禁用<else/>正常</eq>
                        </td>
                        <td>{$vo.create_time|time_format}</td>
                        <td>
                            <a title="编辑" href="{:U('editCard',array('cid'=>$vo['id']))}">编辑</a>
                            <a href="{:U('changeCard',array('id'=>$vo['id'],'value'=>$vo['status']==1 ? 2 : 1))}" class="ajax-get">
                                <eq name="vo.status" value="1">设为正常<else/>设为禁用</eq></a>
                            <a class="confirm ajax-get" title="删除" href="{:U('delCard',array('id'=>$vo['id']))}">彻底删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            //筛选
            $('[name="status"]').on('change', function () {
                var status = $(this).val();
                $('#status').val(status);
                $("#search").click();
            });
            $('[name="s_id"]').on('change', function () {
                var catid = $(this).val();
                $('#s_id').val(catid);
                $("#search").click();
            });
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function (e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //点击排序
            $('.list_sort').click(function () {
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if (ids.length > 0) {
                    var str = new Array();
                    ids.each(function () {
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if (url != undefined && url != '') {
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('cardlist')}");
    </script>
</block>