<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}模卡</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">用户名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" disabled="disabled" value="{$uInfo.nickname|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">风格名称<span class="check-tips"></span></label>
            <div class="controls">
                <select name="s_id" id="s_id">
                    <volist name="cat" id="item">
                        <option value="{$item.id}" <eq name="item.id" value="$info['s_id']">selected="selected"</eq>>{$item.name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所选图片<span class="check-tips"></span></label>
            <div class="controls">
                <foreach name="info.pic_json" item="vo" >
                    <img style="width:100px" src="{$vo}" alt="">
                </foreach>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <input type="radio" name="status" value="1" <neq name="info.status" value="0">checked="checked"</neq>>启用
                <input type="radio" name="status" value="0" <eq name="info.status" value="0">checked="checked"</eq>>禁用
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('cardList')}");
    </script>
</block>
