<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>热搜列表</h2>
    </div>

    <div class="cf">       
        <a  class="btn" href="{:U('searchEdit')}">新增</a>
        <button class="btn ajax-post confirm" url="{:U('searchDel')}" target-form="ids">删 除</button>
        <a class="btn" href="{:U('searchExport',I('get.'))}" >导 出</a>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入标题">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
        <!-- 高级筛选 -->
        <div class="select-form fr cf" style="margin-right: 10px;">
            <div class="sleft" style="background: none;">
                &nbsp;&nbsp;排序：
                <select class="select" name="sort" id="sort">
                    <option value="" <eq name="sort" value="">selected="selected"</eq>>默认</option>
                    <option value="hits" <eq name="sort" value="hits">selected="selected"</eq>>按热度</option>
                </select>
                &nbsp;&nbsp;推荐：
                <select class="select" name="recommend" id="recommend">
                    <option value="" <eq name="recommend" value="-1">selected="selected"</eq>>全部</option>
                    <option value="1" <eq name="recommend" value="1">selected="selected"</eq>>已推荐</option>
                    <option value="0" <eq name="recommend" value="0">selected="selected"</eq>>未推荐</option>
                </select>
                &nbsp;&nbsp;状态：
                <select class="select" name="status" id="status">
                    <option value="" <eq name="status" value="-1">selected="selected"</eq>>全部</option>
                    <option value="1" <eq name="status" value="1">selected="selected"</eq>>显示</option>
                    <option value="0" <eq name="status" value="0">selected="selected"</eq>>隐藏</option>
                </select>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th class="row-selected">
                        <input class="checkbox check-all" type="checkbox">
                    </th>
                    <th>编号</th> 
                    <th>关键词</th>                
                    <th>热度</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>管理</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.search}</td>
                        <td>{$vo.hits}</td>
                        <td>{$vo['recommend'] == 1 ? '已推荐' : '未推荐'}</td>
                        <td>{$vo['status'] == 1 ? '显示' : '隐藏'}</td> 
                        <td>
                            <a href="{:U('searchChange',array('id'=>$vo['id'],'value'=>abs($vo['status']-1)))}" class="ajax-get"><eq name="vo.status" value="1">隐藏<else/>显示</eq></a>&nbsp;&nbsp;
                            <a href="{:U('searchChange',array('id'=>$vo['id'],'field'=>'recommend','value'=>abs($vo['recommend']-1)))}" class="ajax-get"><eq name="vo.recommend" value="1">取消推荐<else/>推荐</eq></a>
                        </td>
                        <td>
                            <a class="" title="编辑" href="{:U('searchEdit',array('id'=>$vo['id']))}">编辑</a>&nbsp;
                            <a class="confirm ajax-get" title="删除" href="{:U('searchDel',array('id'=>$vo['id']))}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            // 筛选
            $(".select").on('change', function () {
                $("#search").click();
            });
            //搜索功能
            $("#search").click(function () {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                // 筛选配置
                var select = $('.select-form').find('select').serialize();
                select = select.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                select = select.replace(/^&/g, '');
                if (query) {
                    url += '&' + select;
                } else {
                    url += select;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function (e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //点击排序
            $('.list_sort').click(function () {
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if (ids.length > 0) {
                    var str = new Array();
                    ids.each(function () {
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if (url != undefined && url != '') {
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('index')}");
    </script>
</block>