<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}小程序类型</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">关键词名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="search" value="{$info.search}"><span class="must">*</span>              
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">热度<span class="check-tips"></span></label>
            <div class="controls">
                <input type="number" class="text input-small" name="hits" value="{$info.hits}"><span class="must"></span>              
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <input type="radio" name="status" value="1" <neq name="info.status" value="0">checked="checked"</neq>>启用 &nbsp; &nbsp;
                <input type="radio" name="status" value="0" <eq name="info.status" value="0">checked="checked"</eq>>禁用
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">推荐<span class="check-tips"></span></label>
            <div class="controls">
                <input type="radio" name="recommend" value="1" <eq name="info.recommend" value="1" >checked</eq> >是&nbsp;&nbsp;
                <input type="radio" name="recommend" value="0" <neq name="info.recommend" value="1" >checked</neq> >否
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('index')}");
    </script>
</block>


